body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/BG-icon.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-width: 350px; /* Set a fixed max-width */
    max-height: 80vh; /* Limit the height of the container */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    margin: 20px 0; /* Ensure some margin at the top and bottom */
}

.register-container img {
    width: 80%;
    height: 130px; /* Set a fixed height for the image */
    object-fit: contain; /* Ensure the image covers the container */
}

.register-container h2 {
    margin: 20px 0;
}

.register-container .form-control {
    margin-bottom: 10px;
    width: 80%; /* Adjust the width as needed */
    max-width: 280px; /* Maximum width for the input fields */
    margin-left: auto;
    margin-right: auto;
}

.register-container .btn-primary,
.register-container .btn-secondary {
    width: 80%;
    max-width: 280px; /* Ensure the button matches the input width */
    margin-left: auto;
    margin-right: auto;
}

.register-container .btn-secondary {
    margin-top: 10px; /* Add some spacing between buttons */
}

.register-container .links {
    margin-top: 20px;
    font-size: 14px;
}

.register-container .links a {
    text-decoration: none;
    color: #007bff;
}

.register-container .links a:hover {
    text-decoration: underline;
}

.register-container .back-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-container .back-link a {
    text-decoration: none;
    color: #007bff;
}

.register-container .back-link a:hover {
    text-decoration: underline;
}
